<header>
    <h1><a href="/">MOVIEMAGIC</a></h1>
    <nav>
        <form action="/search" method="post">
            <input type="text" name="userInput" id="">
            <input type="submit" value="Search">
        </form>
        <h1><a href="/favorite/1">MySHOWS</a></h1>
    </nav>
</header>